{% import "colors.j2" as colors %}
{% import "events.j2" as events %}
{% macro person(spec) %}
{{spec.name}} ({{spec.username}}){% if spec.email is defined %} <{{spec.email}}>{% endif %}
{% endmacro %}
{% if 'change' in item %}
{% set change=item.change %}
{% endif %}
{% if 'patchSet' in item %}
{% set patchset=item.patchSet %}
{% endif %}
{% if item.type == 'change-merged' %}
[{{colors.green}}MERGED{{colors.alloff}}    ] {{change.number}},{{patchset.number}} {{change.project}}
           URL: {{change.url}}
           Author: {{person(patchset.author)}}
	   Topic: {{change.topic}}
           Subject: {{change.subject}}

{% elif item.type == 'change-abandoned' %}
[{{colors.red}}ABANDONED{{colors.alloff}} ] {{change.number}},{{patchset.number}} {{change.project}}
           URL: {{change.url}}
	   Author: {{person(patchset.author)}}
	   Topic: {{change.topic}}
           Subject: {{change.subject}}

{% elif item.type == 'patchset-created' %}
[{{colors.cyan}}PATCH{{colors.alloff}}     ] {{change.number}},{{patchset.number}} {{change.project}}
           URL: {{change.url}}
	   Author: {{person(patchset.author)}}
	   Topic: {{change.topic}}
           Subject: {{change.subject}}

{% elif item.type == 'comment-added' %}
[{{colors.yellow}}COMMENT{{colors.alloff}}   ] {{change.number}},{{patchset.number}} {{change.project}}
           URL: {{change.url}}
	   Author: {{person(item.author)}}
	   Topic: {{change.topic}}
           Subject: {{change.subject}}

{{item.comment|wordwrap(70, break_long_words=False)|indent(4, indentfirst=True)}}

{% elif item.type in events.ignored %}{% else %}
[ UNKNOWN   ] {{ item.type }} ...
{% endif %}
