{% set red="[31m" %}
{% set green="[32m" %}
{% set yellow="[33m" %}
{% set alloff="[0m" %}
{% macro person(spec) %}
{{spec.name}} ({{spec.username}}){% if spec.email is defined %} <{{spec.email}}>{% endif %}
{% endmacro %}
{% if 'change' in item %}
{% set change=item.change %}
{% endif %}
{% if 'patchSet' in item %}
{% set patchset=item.patchSet %}
{% endif %}
{% if item.type == 'change-merged' %}
[{{green}}MERGED{{alloff}}  ] {{change.number}},{{patchset.number}} {{change.project}}
           URL: {{change.url}}
           Owner: {{person(change.owner)}}
	   Topic: {{change.topic}}
           Subject: {{change.subject}}

{% elif item.type == 'patchset-created' %}
[{{red}}PATCH{{alloff}}   ] {{change.number}},{{patchset.number}} {{change.project}}
           URL: {{change.url}}
	   Owner: {{person(change.owner)}}
	   Topic: {{change.topic}}
           Subject: {{change.subject}}

{% elif item.type == 'comment-added' %}
[{{yellow}}COMMENT{{alloff}} ] {{change.number}},{{patchset.number}} {{change.project}}
           URL: {{change.url}}
	   Author: {{person(item.author)}}
	   Topic: {{change.topic}}
           Subject: {{change.subject}}

{{item.comment|wordwrap(70, break_long_words=False)|indent(4, indentfirst=True)}}

{% elif item.type in ['ref-updated', 'reviewer-added', 'ref-replicated', 'ref-replication-done'] %}{% else %}
{{ item.type }} ...
{% endif %}
