{% import "colors.j2" as colors %}
{% import "events.j2" as events %}
{% macro person(spec) %}
{{spec.name}} ({{spec.username}}){% if spec.email is defined %} <{{spec.email}}>{% endif %}
{% endmacro %}
{% macro header(change, patchset) %}
{{change.number}},{{patchset.number}} {{change.project}} {{
patchset.author.username}} {{colors.blue}}{{change.url}}{{colors.alloff}}{% endmacro %}
{% if 'change' in item %}
{% set change=item.change %}
{% endif %}
{% if 'patchSet' in item %}
{% set patchset=item.patchSet %}
{% endif %}
{% if item.type == 'change-merged' %}
[{{colors.green}}MERGED{{colors.alloff}}    ] {{header(change, patchset)}}
{% elif item.type == 'patchset-created' %}
{{_time|strftime('%H:%M:%S')}} [{{colors.cyan}}PATCH{{colors.alloff}}     ] {{header(change, patchset)}}
             {{change.subject}}
{% elif item.type == 'comment-added' %}
{{_time|strftime('%H:%M:%S')}} [{{colors.yellow}}COMMENT{{colors.alloff}}   ] {{header(change,patchset)}}
{% if item.approvals %}
             {%+ for approval in item.approvals %}{{approval.type}} {{approval.value}} {% endfor %}

{% endif %}
{% elif item.type == 'change-abandoned' %}
{{_time|strftime('%H:%M:%S')}} [{{colors.red}}ABANDONED{{colors.alloff}} ] {{header(change,patchset)}}
{% elif item.type in events.ignored %}{% else %}
{{_time|strftime('%H:%M:%S')}} [ UNKNOWN  ] {{ item.type }} ...
{% endif %}
