{{'%-8s'|format(number)}} {{'%-8s'|format(owner.username)}} {{subject}}
                  {{url}}
{% for patch in item.patches|reverse %}
{% if loop.first %}

{% endif %}
         {{number}},{{'%-3s'|format(patch.number)}} {{patch.ref}}
{% for approval in patch %}
               {{'%-15s'|format(approval.by.username)}} {{approval.type}} {{approval.value}}
{% endfor %}
{% if loop.last %}

{% endif %}
{% endfor %}
